<%- include('bootheader') -%>
<%- include('menubar') -%>

<div class="jumbotron">
  <h1>
    Chat Room
  </h1>
  <br>
  <h3>
    Chat With Everyone Here
  </h3>
</div>

<hr>

<body>
  <h3>
    Messages:
  </h3>
  <br>
  
  <script>
    var room = "chatroom"
  </script>
  <%- include('chatbox') -%>
  
</body>

<hr>

<%- include('link-to-survey') -%>
<%- include('bootfooter') -%>