<%- include('bootheader') -%>
<%- include('menubar') -%>

<div class="jumbotron">
  <h1>
    Chat Room
  </h1>
  <br>
  <h3>
    Chat With Everyone Here
  </h3>
</div>

<hr>

<body>
  <h3>
    Messages:
  </h3>
  <br>
  
  <table id="messages" class="table table-bordered table-striped">
    <thead>
      <th>Username</th>
      <th>Message</th>
      <th>Date/Time</th>
    </thead>
  </table>
  
  <ul id="messages"></ul>
  
  
  <form id="sendChat">
    <input type="hidden" id="user" autocomplete="off" value="<%= username %>" />
    <input id="chat" autocomplete="off" /><button>Send</button>
  </form>
  
  <script>
    document.addEventListener("DOMContentLoaded", () => {
      var socket = io();
      document.getElementById("sendChat").addEventListener("submit", function (e) {
        e.preventDefault();
        let user = document.getElementById("user").value || "Guest"
        let date = new Date();
        let msg = {user:user, msg:document.getElementById("chat").value, date:date};
        socket.emit('chat message', msg);
        document.getElementById("chat").value = '';
        return false;
      });
      socket.on('chat message', (msg) => {
        document.getElementById("messages").innerHTML += '<tr><td>' + msg.user + '</td><td>' + msg.msg + '</td><td>' + msg.date + '</td></tr>';
      })
    })
  </script>
  
</body>

<hr>

<%- include('link-to-survey') -%>
<%- include('bootfooter') -%>