<table id="messages" class="table table-bordered table-striped">
  <thead>
    <th>Username</th>
    <th>Message</th>
    <th>Date/Time</th>
  </thead>
  <% chats.forEach(chat => { %>
    <tr>
      <td><%= chat.username %></td>
      <td><%= chat.message %></td>
      <% if (chat.date.getMinutes() < 10) { %>
        <% if (chat.date.getHours() > 12) { %>
          <td> <%= chat.date.getHours() - 12 %>:0<%= chat.date.getMinutes() %>pm</td>
        <% } else { %>
          <td> <%= chat.date.getHours() %>:0<%= chat.date.getMinutes() %>am</td>
        <% } %>
      <% } else { %>
        <% if (chat.date.getHours() > 12) { %>
          <td> <%= chat.date.getHours() - 12 %>:<%= chat.date.getMinutes() %>pm</td>
        <% } else { %>
          <td> <%= chat.date.getHours() %>:<%= chat.date.getMinutes() %>am</td>
        <% } %>
      <% } %>
    </tr>
  <% }) %>
</table>
  
<form id="sendChat">
  <div id="extraInputs"></div>
  Message:
  <input type="hidden" id="user" autocomplete="off" value="<%= username %>" />
  <input id="chat" autocomplete="off" /><button>Send</button>
</form>
  
<script>
  document.addEventListener("DOMContentLoaded", () => {
    var socket = io();
    var request = 'chat message';
    document.getElementById("sendChat").addEventListener("submit", function (e) {
      e.preventDefault();
      let user = document.getElementById("user").value || "Guest"
      let date = new Date();
      var msg = {user:user, msg:document.getElementById("chat").value, date:date, room:room};
      if (document.getElementById("recipientType")) {
        let recipientType = document.getElementById("recipientType").value;
        msg.recipientType = recipientType;
      }
      if (document.getElementById("recipient")) {
        let recipient = document.getElementById("recipient").value;
        document.getElementById("recipient").value = '';
        msg.recipient = recipient;
      }
      socket.emit(request, msg);
      document.getElementById("chat").value = '';
      return false;
    });
    socket.on(request, (msg) => {
      if ((msg.room == room) && ((!msg.hasOwnProperty('recipientType')) || (msg.recipientType != "One Person") || (msg.recipient == "<%= username %>"
                                                                                           ))) { //Do not format this, the line break is necessary.
        var date = new Date();
        var ampm = "am";
        var hours = date.getHours();
        var mins = date.getMinutes();
        if (date.getHours() > 12) {
          hours = date.getHours() - 12;
          ampm = "pm";
        }
        if (date.getMinutes() < 10) {
          mins = "0" + date.getMinutes();
        }
        document.getElementById("messages").innerHTML = '<tr><td>' + msg.user + '</td><td>' + msg.msg + '</td><td>' + hours + ":" + mins + ampm + '</td></tr>' + document.getElementById("messages").innerHTML;
      }
    })
  })
</script>