<%- include('bootheader') -%>
<%- include('menubar') -%> 

<div class="gradient">
  <br>
  <h1>
    Forum
  </h1>
  <br>
  <h3>
    Discuss With Others About Xolbor
  </h3>
  <br>
</div>
<br>
<form method="post" action="/addToForum">
  Topic: 
  <select name="topic">
    <option>Overall Website</option>
    <option>Guess The Number</option>
    <option>Mafia</option>
    <option>Quiz</option>
  </select>
  <br>
  Your message: 
  <br>
  <textarea name="message" rows="10" cols"194"></textarea>
  <br>
  <input type="submit">
</form>
<br>
<hr>

<h3>
  Forum Posts:
</h3>
<table class="table table-bordered table-striped bg-danger text-light">
  <thead>
    <tr>
      <th>User</th><th>Topic</th><th>Message</th><th>Date & Time</th>
      <% if(isAdmin) { %>
      <th>Removal</th>
      <% } %>
    </tr>
  </thead>
  <tbody>
    <% posts.forEach(post => { %>  
    <tr>
      <td><%= post.username %></td> 
      <td><%= post.topic %></td>
      <td><%= post.message %></td>  
      <% if (post.date.getMinutes() < 10) { %>
        <% if (post.date.getHours() > 12) { %>
          <td> <%= post.date.getMonth() %>/<%= post.date.getDate() %>/<%= post.date.getFullYear() %> <%= post.date.getHours() - 12 %>:0<%= post.date.getMinutes() %>pm</td>
        <% } else { %>
          <td> <%= post.date.getMonth() %>/<%= post.date.getDate() %>/<%= post.date.getFullYear() %> <%= post.date.getHours() %>:0<%= post.date.getMinutes() %>am</td>
        <% } %>
      <% } else { %>
        <% if (post.date.getHours() > 12) { %>
          <td> <%= post.date.getMonth() %>/<%= post.date.getDate() %>/<%= post.date.getFullYear() %> <%= post.date.getHours() - 12 %>:<%= post.date.getMinutes() %>pm</td>
        <% } else { %>
          <td> <%= post.date.getMonth() %>/<%= post.date.getDate() %>/<%= post.date.getFullYear() %> <%= post.date.getHours() %>:<%= post.date.getMinutes() %>am</td>
        <% } %>
      <% } %>
      <% if(isAdmin) { %>
      <td>
        <form method="post" action="/removePost">
          <input type="hidden" name="id" value="<%= post._id %>">
          <input type="submit" value="Remove Post">
        </form>
      </td>
      <% } %>
    </tr> 
    <% }) %>
  </tbody>
</table>
<hr>

<%- include('bootfooter') -%>