<%- include('bootheader') -%>
<%- include('menubar') -%>

<h1>
  Game Over. The winner is The <%= winner %>!
</h1>

<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<hr>

<%- include('link-to-survey') -%>
<%- include('bootfooter') -%>