<%- include('bootheader') -%>
<%- include('menubar') -%>

<div class="jumbotron gradient">
  <h1>
    Mafia
  </h1>
  <br>
  <h3>
    Game Rules/Description
  </h3>
  <p>
    Mafia consists of 4 roles: Mafia, Detective, Doctor, and Villager. There will be 1 Mafia, 1 Detective, and 1 Doctor. The rest are villagers.
  <br>
  <br>
    Every night:
  <ul>
    <li>
    The Mafia chooses one player to kill.
    </li>
  <br>
    <li>
    The Detective chooses one person they suspect is the Mafia.
    </li>
  <br>
    <li>
    The Doctor tries to save one person from the Mafia.
    </li>
  </ul>
    During the day, people can discuss and accuse who they think the Mafia is. At the end of the day, players may choose to lynch one person they suspect is the Mafia.
    This cycle continues until the Mafia is eliminated or the Mafia kills everyone except one.
  <br>
  </p>
</div>

<body>
  <div class="row">
    <div class="col">
      
    </div>
    <div class="col">
      <h3>
        Chat:
      </h3>
      
      <!-- Implement chatbox -->
      <script>
        var room = "mafia";
      </script>
      <%- include('chatbox') -%>
      <script>
        document.getElementById("extraInputs").innerHTML = '<select id="recipientType" name="recipientType"><option>Everyone</option><option>One Person</option></select><br>Username of Recipient (One Person): <input type="text" id="recipient" name="recipient">';
      </script>
      
    </div>
  </div>
</body>

<hr>

<%- include('link-to-survey') -%>
<%- include('bootfooter') -%>