<%- include('bootheader') -%>
<%- include('menubar') -%>

<% if(usern === null) { %>
<!-- /profile page -->

<div class="jumbotron gradient row">
  <div class="col">
    <h1>
     Your Profile
    </h1>
    <br>
    <p>
      This is where you can change your settings and see your rankings in the games.
    </p>
  </div>
  <div class="col">
    <h3>
      Date/Time: <span id="datetime"></span>
      <script>
        function showTime () {
          var dt = new Date();
          document.getElementById("datetime").innerHTML = dt.toLocaleTimeString(+1);
        }
        showTime();
        setInterval(showTime, 1000);
      </script>
    </h3>
  </div>
</div>

<h2>
  Your Information:
</h2>
<h5>
Username: <%= username %> <br>
Email: <%= email %> <br>

</h5>

<hr>

<h2>
  Your Rankings (in games that have rankings):
</h2>

<select name="gamenames">
  <option>Find the Number</option>
  <option>Quiz</option>
</select>
Rank: <!-- I can't figure out how to get their rankings for the Quiz game. I am trying to use <.%= count++ %> just like in the leaderboards, but it is not working? 
           Don't worry about it for now, it will take extra database work to make that happen. I was kinda lazy when setting it up lol - Sean -->

<% } else { %>
<!-- /profile/username page -->

<div class="jumbotron gradient">
  <h1>
    User Profile - <%= usern.username %>
  </h1>
  <br>
</div>

<body>
  <h4>
    Username: 
    <%= usern.username %>
    <br>
  </h4>
  <hr>
  <h2>
    <%= usern.username %>'s Rankings (in games that have rankings):
  </h2>
  <select name="gamenames">
    <option>Quiz</option>
  </select>
</body>

<hr>

<% } %>

<%- include('link-to-survey') -%>
<%- include('bootfooter') -%>