<%- include('bootheader') -%>
<%- include('menubar') -%>

<body>
  <h1>
    Quiz Leaderboard: 
  </h1>
  
  <p id="data">
    
  </p>
  
  <p>
    <table class="table table-bordered table-striped bg-danger text-light">
      <thead>
        <th>Rank</th>
        <th>Username</th>
        <th>Number of Questions Correct</th>
        <th>Total Number of Questions</th>
        <th>Percent Correct</th>
        <th>Date</th>
        <% if(isAdmin) { %>
        <th>Removal</th>
        <% } %>
      </thead>
      <tbody>
        <% var count = 1 %>
        <% quizzes.forEach(quiz => { %>
        
          <tr>
            <td> <%= count++ %> </td>
            <td> <%= quiz.username %> </td>
            <td> <%= quiz.numCorrect %> </td>
            <td> <%= quiz.totalQ %> </td>
            <td> <%= quiz.percent * 100 %>% </td>
            <% if (quiz.date.getMinutes() < 10) { %>
              <% if (quiz.date.getHours() > 12) { %>
                <td> <%= quiz.date.getMonth() %>/<%= quiz.date.getDate() %>/<%= quiz.date.getFullYear() %> <%= quiz.date.getHours() - 12 %>:0<%= quiz.date.getMinutes() %>pm</td>
              <% } else { %>
                <td> <%= quiz.date.getMonth() %>/<%= quiz.date.getDate() %>/<%= quiz.date.getFullYear() %> <%= quiz.date.getHours() %>:0<%= quiz.date.getMinutes() %>am</td>
              <% } %>
            <% } else { %>
              <% if (quiz.date.getHours() > 12) { %>
                <td> <%= quiz.date.getMonth() %>/<%= quiz.date.getDate() %>/<%= quiz.date.getFullYear() %> <%= quiz.date.getHours() - 12 %>:<%= quiz.date.getMinutes() %>pm</td>
              <% } else { %>
                <td> <%= quiz.date.getMonth() %>/<%= quiz.date.getDate() %>/<%= quiz.date.getFullYear() %> <%= quiz.date.getHours() %>:<%= quiz.date.getMinutes() %>am</td>
              <% } %>
            <% } %>
            <% if(isAdmin) { %>
            <td>
              <form method="post" action="/removeQuizResult">
                <input type="hidden" name="id" value="<%= quiz._id %>">
                <input type="submit" value="Remove Ranking">
              </form>
            </td>
            <% } %>
          </tr>
      
        <% }) %>
      </tbody>
    </table>
  </p>
  
</body>

<%- include('link-to-survey') -%>
<%- include('bootfooter') -%>