<%- include('bootheader') -%>
<%- include('menubar') -%>

<% if (loggedIn && isAdmin) { %>

<body>
  <h1>
    Survey Data: 
  </h1>
  
  <p>
    <table class="table table-bordered table-striped bg-danger text-light">
      <thead>
        <th>Username</th>
        <th>Date</th>
        <th>Game</th>
        <th>Rating</th>
        <th>Would Recommend (1-10)</th>
        <th>Improvements</th>
        <th>Comments</th>
      </thead>
      <tbody>
        <% surveys.forEach(survey => { %>
        
        <tr>
          <td> <%= survey.username %> </td>
          <% if (survey.date.getMinutes() < 10) { %>
            <% if (survey.date.getHours() > 12) { %>
              <td> <%= survey.date.getMonth() %>/<%= survey.date.getDate() %>/<%= survey.date.getFullYear() %> <%= survey.date.getHours() - 12 %>:0<%= survey.date.getMinutes() %>pm</td>
            <% } else { %>
              <td> <%= survey.date.getMonth() %>/<%= survey.date.getDate() %>/<%= survey.date.getFullYear() %> <%= survey.date.getHours() %>:0<%= survey.date.getMinutes() %>am</td>
            <% } %>
          <% } else { %>
            <% if (survey.date.getHours() > 12) { %>
              <td> <%= survey.date.getMonth() %>/<%= survey.date.getDate() %>/<%= survey.date.getFullYear() %> <%= survey.date.getHours() - 12 %>:<%= survey.date.getMinutes() %>pm</td>
            <% } else { %>
              <td> <%= survey.date.getMonth() %>/<%= survey.date.getDate() %>/<%= survey.date.getFullYear() %> <%= survey.date.getHours() %>:<%= survey.date.getMinutes() %>am</td>
            <% } %>
          <% } %>
          <td> <%= survey.game %> </td>
          <td> <%= survey.rating %> </td>
          <td> <%= survey.wouldRecommend %> </td>
          <td> <%= survey.improvement %> </td>
          <td> <%= survey.additionalComments %> </td>
        </tr>
      
        <% }) %>
      </tbody>
    </table>
  </p>
  
</body>

<% } else { %>

<a href="/">You must be an admin to use this page.</a>

<% } %>

<%- include('bootfooter') -%>